.table td, .table th{
    padding-top: 0px ;
    padding-bottom: 0px ;
    padding-right: 2px ;
    padding-left: 2px ;
}
table {
    width: 100%;
    table-layout: fixed;
  }

td {
    /* max-width: 0; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

td:hover{
    overflow: visible; 
    white-space: normal;
    height:auto
}

#quantity:hover{
    color: red;
}

#stockquant:hover{
    color: red;
}

#synopsis{
    width: 30%;
}